[Unit]
Description=Create and assign a random hostname to a Linux system every time it boots up
Wants=network-pre.target
Before=network-pre.target

[Service]
ExecStart=/usr/bin/randomhost
Type=oneshot

[Install]
WantedBy=multi-user.target
